{% for respond in responds %}


    <form class="card respond" action="" method="post">
        {% if respond.selected %}
            <p class="selected-label">Выбран исполнителем</p>
        {% endif %}
        <div class="user-info">
            <a class="user-link" href="/profile/{{respond.author.login}}">
                <img class="size-20 rounded-xl" src="{{ url_for('static', filename='avatars/'+ respond.author.login + '.webp') }}"
                onerror="this.src='/static/avatars/placeholder.svg'">
                <div class="flex-row relative">
                    <p class="text-xl ml-2 mt-3 leading-4">{{ respond.author.name }}</p>
                    <p class="absolute top-11 left-2 w-32">Оценка +209232</p>
                </div>
            </a>
            {% if respond.selected %}
                <div class="button-container sm:w-52 shrink-0 grid content-center justify-end w-0 h-0 sm:h-auto collapse sm:visible">
                    <a class="button-action" onclick="alert('{{respond.author.contact_info}}')" >Контактные данные</a>
                </div>
            {% elif current_user == respond.author  %}
                {{ form.hidden_tag() }}
                <div class="button-container shrink-0 grid content-center justify-end w-0 h-0 sm:h-auto collapse sm:visible">
                    {{ form.submit(class='button') }}
                </div>
            {% else %}
                <div class="button-container sm:w-52 shrink-0 grid content-center justify-end w-0 h-0 sm:h-auto collapse sm:visible">
                    <a class="button-action" href="/select_respond/post{{respond.post_id}}&user{{respond.author_id}}" >Выбрать</a>
                </div>
            {% endif %}
        </div>
        {% if current_user == respond.author and not respond.selected %}
            {{ form.text(class="text-about") }}
        {% else %}
            <div class="text-about">{{respond.text}}</div>
        {% endif %}
        {% if current_user == respond.author and not respond.selected%}
            <a class="w-full mt-5 p-3 bg-black rounded-xl text-white text-center block sm:hidden" onclick="getElementById('modal-сontacts').setAttribute('style', 'display: block')">
                {{ form.submit(class='button') }}
            </a>
        {% endif %}
        {% if respond.post.author == current_user %}
            <a class="w-full mt-5 p-3 bg-black rounded-xl text-white text-center block sm:hidden" onclick="alert('{{respond.author.contact_info}}')">
                Получить контактные данные
            </a>
        {% endif %}
    </form>
    
{% endfor %}
