@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/Roboto-Regular.ttf") format("truetype");
}
body {
  font: 100% Roboto;
  color: #000;
  overscroll-behavior: none;
}

.container- {
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
  padding-bottom: 80px;
}
@media (min-width: 640px) {
  .container- {
    margin-top: 136px;
  }
}

.card {
  padding: 20px;
}
@media (min-width: 640px) {
  .card {
    border: 1px solid;
    box-shadow: 3px 3px 0px #000;
    border-radius: 8px;
  }
}

.button, .button-action {
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 640px) {
  .button, .button-action {
    transition: all 70ms;
  }
  .button:hover, .button-action:hover {
    scale: 105%;
  }
}
.button-danger {
  background-color: rgb(220, 38, 38);
}
.button-sub {
  border: solid 1px;
  color: #000;
  background-color: #fff;
  border-color: #000;
}
.spacer {
  flex-grow: 0;
  display: none;
}
@media (min-width: 640px) {
  .spacer {
    flex-grow: 1;
    display: flex;
  }
}

.nav-desktop {
  display: none;
  height: 85px;
  border-bottom: 1px solid;
  padding: 24px;
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
}
.nav-desktop .content {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  width: 100%;
  max-width: 1024px;
}
.nav-desktop .content .logo {
  letter-spacing: -0.025em;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  display: flex;
}
.nav-desktop .content .logo .account-type {
  font-weight: 400;
  padding: 4px;
  margin-left: 4px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}
.nav-desktop .content .logo .notifications-container {
  margin-left: 10px;
  margin-top: -2px;
}
.nav-desktop .content .logo .notifications-container .notifications {
  height: 40px;
}
.nav-desktop .tabs {
  display: flex;
  place-items: center;
}
.nav-desktop .tabs .tab {
  margin-inline: 16px;
}
.nav-desktop .tabs .dropdown-content {
  display: none;
  width: 128px;
  text-align: center;
  position: absolute;
}
.nav-desktop .tabs .dropdown-content .menu {
  border: 1px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  overflow: hidden;
}
.nav-desktop .tabs .dropdown-content .menu .archive {
  padding: 12px;
  background-color: #fff;
}
.nav-desktop .tabs .dropdown-content .menu .admin {
  padding: 12px;
  background-color: #000;
  color: #fff;
}
.nav-desktop .tabs .dropdown-content .menu .logout {
  padding: 12px;
  background-color: rgb(220, 38, 38);
  color: #fff;
}
.nav-desktop .tabs .dropdown:hover .dropdown-content {
  display: block;
}
.nav-desktop .tabs .dropdown:hover .outline {
  display: block;
}

@media (min-width: 640px) {
  .nav-desktop {
    display: flex;
  }
}
.mobile-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 50;
  text-align: center;
  font-size: 36px;
  border-bottom: solid 1px;
  padding-bottom: 20px;
}
.mobile-logo .notifications {
  margin-left: 20px;
  animation-timing-function: linar;
  animation-name: new-notifications;
  animation-duration: 1s;
}

.nav-mobile {
  z-index: 50;
  border-top: 1px solid;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
}
.nav-mobile .content {
  width: 100%;
  display: flex;
  justify-content: stretch;
}
.nav-mobile .content .tab {
  flex-grow: 1;
}

@media (min-width: 640px) {
  .nav-mobile {
    margin: 0;
    display: none;
  }
  .mobile-logo {
    margin: 0;
    border: none;
  }
  .mobile-logo a {
    display: none;
  }
  .mobile-logo .notifications {
    display: none;
  }
}
.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 640px) {
  .profile {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.profile img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  flex-grow: 0;
  margin-inline: auto;
}
.profile .ava-edit {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}
@media (min-width: 640px) {
  .profile .ava-edit {
    flex-grow: 0;
  }
}
.profile .ava-edit img {
  filter: brightness(50%);
}
.profile .ava-edit .button-action {
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  height: 62px;
  z-index: 50;
  top: 119px;
}
.profile .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-width: 640px) {
  .profile .content {
    margin-left: 20px;
    max-height: 300px;
  }
}
.profile .content .username {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 640px) {
  .profile .content .username {
    text-align: left;
    margin-top: 0px;
  }
}
.profile .content .rep {
  margin-top: 8px;
}
.profile .content .rep-placeholder {
  margin-top: 32px;
}
.profile .content .aboutme {
  margin-top: 12px;
  border: 1px solid;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
  min-height: 196px;
  max-height: 300px;
}
.profile .content .aboutme .scroll {
  max-height: 300px;
  word-break: break-all;
  padding: 8px;
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
  white-space: pre-wrap;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.profile input {
  width: 100%;
}

.profile-actions {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.profile-actions .text {
  font-size: 20px;
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}
@media (min-width: 640px) {
  .profile-actions .text {
    justify-content: start;
    margin-top: 5px;
  }
}
.profile-actions .content {
  display: flex;
  flex-shrink: 0;
  max-width: 100%;
  flex-flow: row wrap;
  margin-inline: auto;
  justify-content: center;
  margin-top: 12px;
}
@media (min-width: 640px) {
  .profile-actions .content {
    margin-top: 0px;
  }
}
.profile-actions .content .button, .profile-actions .content .button-action {
  margin-inline: 5px;
  width: 128px;
}
@media (min-width: 640px) {
  .profile-actions .content .button, .profile-actions .content .button-action {
    margin-left: 10px;
    margin-right: -5px;
  }
}
.profile-actions .content .new-line {
  margin-top: 12px;
  width: 266px;
}
@media (min-width: 640px) {
  .profile-actions .content .new-line {
    margin-top: 0px;
  }
}

.settings {
  margin-top: 20px;
}
.settings .content {
  display: flex;
  flex-shrink: 0;
  justify-content: left;
  margin-inline: auto;
  margin-top: 12px;
}
@media (min-width: 640px) {
  .settings .content {
    margin-top: 0px;
  }
}
.settings .contacts {
  border: 1px solid;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  height: 196px;
}
.settings .contacts .scroll {
  max-height: 300px;
  word-break: break-all;
  padding: 8px;
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
  white-space: pre-wrap;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.settings .button-finish {
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 640px) {
  .list {
    border-bottom: 0px;
  }
}
.list .create_post .post {
  border-top: solid 1px;
  margin-top: 24px;
  background-color: #fff;
  text-align: center;
}
.list .create_post .post .icon {
  margin-inline: auto;
  width: 24px;
  height: 24px;
}
.list .list_title {
  text-align: center;
  font-size: 32px;
  margin-inline: auto;
  margin-bottom: 28px;
}
.list .null_message {
  margin-top: 200px;
  text-align: center;
  font-size: 28px;
  opacity: 50%;
}
@media (min-width: 640px) {
  .list .null_message {
    font-size: 32px;
  }
}
.list .post {
  background: #fff;
  border-color: #000;
  margin-inline: auto;
  width: 100%;
  text-align: center;
  padding: 8px;
  color: #000;
  cursor: pointer;
  padding: 20px;
  border-bottom: 1px solid;
}
@media (min-width: 640px) {
  .list .post {
    margin-bottom: 12px;
    margin-top: 12px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 3px 3px 0px #000;
    transition: all 70ms;
    width: 66.6666666667%;
  }
  .list .post:hover {
    translate: -3px -3px;
    box-shadow: 8px 8px 0px #000;
  }
}
.list .post p {
  text-align: left;
}
.list .post .top-line {
  display: flex;
}
.list .post .top-line .title {
  font-weight: 600;
  font-size: 20px;
  flex-grow: 1;
  word-break: break-all;
}
.list .post .top-line .coast {
  font-weight: 600;
  font-size: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}
.list .post .about {
  min-height: 64px;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-all;
  margin-top: 8px;
  width: 100%;
}
.list .post .bottom-line {
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.list .post .bottom-line .date {
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-shrink: 0;
  display: flex;
}
.list .post .bottom-line .date span {
  background-color: #000;
  border-radius: 5px;
  padding: 4px;
  font-size: 12px;
  color: #fff;
  margin-left: 4px;
  margin-top: -2px;
}
.list .post .bottom-line .author {
  display: flex;
  flex-shrink: 0;
}
.list .post .bottom-line .author .name {
  margin-right: 8px;
  flex-shrink: 0;
}
.list .post .bottom-line .author .avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-top: -4px;
}
.list .post .selected {
  margin-top: 12px;
  color: #fff;
  background-color: #000;
  text-align: center;
  border-radius: 5px;
}

.archived-title {
  font-weight: 600;
  font-size: 18px;
  background-color: rgb(254, 215, 170);
}

.post-card {
  margin-top: 20px;
}
.post-card input {
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
}
.post-card .title-edit {
  font-weight: 600;
  width: 100%;
}
.post-card .coast-edit {
  width: 160px;
  border-radius: 8px 0px 0px 8px;
  text-align: right;
  margin-right: 0px;
  border-right: 0px;
}
.post-card .currency-edit {
  width: 160px;
  border-radius: 0px 8px 8px 0px;
  margin-left: 0px;
}
.post-card .title {
  font-size: 24px;
  padding-inline: 12px;
  word-break: break-all;
}
.post-card .user {
  margin-top: 20px;
  flex-shrink: 0;
  position: relative;
}
.post-card .user .link {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 12px;
}
.post-card .user .avatar {
  height: 80px;
  width: 80px;
  border-radius: 8px;
}
.post-card .user .name {
  display: grid;
  align-content: center;
}
.post-card .user .name p {
  font-size: 20px;
  margin-left: 8px;
}
.post-card .coast {
  position: relative;
  text-align: right;
  align-items: right;
  justify-content: right;
  word-wrap: none;
  white-space: nowrap;
  display: flex;
  flex-wrap: 0;
  margin-top: 4px;
}
@media (min-width: 640px) {
  .post-card .coast {
    font-size: 20px;
    margin-right: 8px;
    margin-top: -28px;
  }
}
.post-card .coast span {
  color: rgb(107, 114, 128);
}
.post-card .editor {
  margin-top: 16px;
}
.post-card .editor .editor-body {
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
}
.post-card .editor .info {
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
}
.post-card .edit-button {
  border-radius: 8px;
  border: 1px solid;
  text-align: center;
  justify-content: center;
  display: grid;
  align-content: center;
  position: absolute;
  right: 12px;
  top: 4px;
  width: 64px;
  height: 64px;
  z-index: 20;
  box-shadow: 3px 3px 0px #000;
  background-color: #fff;
}
@media (min-width: 640px) {
  .post-card .edit-button {
    transition: all 70ms;
  }
  .post-card .edit-button:hover {
    box-shadow: 0px 0px 0px #000;
    translate: 3px 3px;
  }
}
.post-card .edit-button img {
  width: 40px;
  height: 40px;
}
.post-card .edit-actions {
  margin-top: 20px;
  display: flex;
}
.post-card .edit-actions .button, .post-card .edit-actions .button-action {
  padding: 12px;
  width: 100%;
  margin-inline: 4px;
}
@media (min-width: 640px) {
  .post-card .edit-actions .button, .post-card .edit-actions .button-action {
    margin-right: 20px;
    width: 128px;
  }
}

.respond {
  margin-top: 20px;
}
.respond .user-info {
  shrink: 0;
  position: relative;
  display: flex;
}
.respond .user-info .user-link {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 12px;
  margin-top: 12px;
}
.respond .selected-label {
  text-align: center;
  height: 0;
  font-size: 20px;
}
.respond .text-about {
  overflow-y: auto;
  white-space: pre-wrap;
  height: 13rem;
  padding: 1rem;
  padding: 1.25rem;
  margin-top: 1.25rem;
  border: solid 1px;
  border-radius: 8px;
  width: 100%;
  resize: none;
}
.respond .button-container {
  flex-grow: 1;
}
.respond .button-container .button, .respond .button-container .button-action {
  padding: 15px;
}
.respond .button-container .button-action {
  padding: 15px;
}

.login {
  max-width: 450px;
  margin-top: 128px;
  margin-inline: auto;
}
.login .content {
  display: flex;
  flex-direction: column;
}
.login .content .title {
  font-size: 30px;
  margin-inline: auto;
  text-align: center;
}
.login .content .label {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 4px;
}
.login .content .text-input {
  padding-inline: 8px;
  padding-block: 12px;
  border-radius: 8px;
  border: 1px solid;
}
.login .content .button, .login .content .button-action {
  margin-top: 28px;
}
.login .content .reg {
  margin-top: 28px;
  text-align: center;
  margin-inline: auto;
  width: fit;
  padding-left: 8px;
}
.login .content .reg .click {
  background: #000;
  padding: 8px;
  color: white;
  border-radius: 8px;
}

.reg-code {
  font-size: 72px;
  text-align: center;
  margin-top: 30vh;
}

.admin-panel .user-table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140, 140, 140);
}
.admin-panel .user-table .header {
  background: #aaa;
  text-align: left;
}
.admin-panel .user-table .header th {
  border: solid 1px;
  padding: 5px;
}
.admin-panel .user-table .user-line {
  cursor: pointer;
}
.admin-panel .user-table .user-line:hover {
  background: #ccc;
}
.admin-panel .user-table .user-line td {
  border: solid 1px;
  padding: 5px;
}
.admin-panel .add-user {
  text-align: center;
  border: solid 1px;
  margin-top: 15px;
  padding: 25px;
}

.notifications-popup {
  display: none;
  position: relative;
}
.notifications-popup .pos {
  position: absolute;
  top: 45px;
}
.notifications-popup .content {
  position: block;
  font-size: 20px;
  padding: 8px;
  border: solid 1px;
  border-radius: 8px;
  background-color: #fff;
  width: 400px;
}
.notifications-popup .content .title {
  width: 100%;
  text-align: center;
  padding-bottom: 7px;
}
.notifications-popup .content .list {
  width: 100%;
}
.notifications-popup .content .list .notification {
  width: auto;
  padding: 8px;
  border-radius: 4px;
  position: block;
  border: 1px solid;
  margin-top: 5px;
}
.notifications-popup .content .list .notification .header {
  font-size: 16px;
  line-height: 1.6rem;
}
.notifications-popup .content .list .notification .data {
  line-height: 1.2rem;
  font-size: 14px;
}
.notifications-popup .content .list .placeholder {
  color: #AAA;
  width: 100%;
  text-align: center;
  padding-bottom: 7px;
}
.notifications-popup .content .unread {
  background-color: #FFFF90;
}

.notif-activ {
  display: block;
}

@keyframes new-notifications {
  0% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-7deg);
  }
  80% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.notif-new {
  animation-timing-function: linar;
  animation-name: new-notifications;
  animation-duration: 1s;
}

/*# sourceMappingURL=output.css.map */
