<div class="notifications-popup" id="notif-popup">
    <div class="pos">
        <div class="content">
            <p class="title">Уведомления</p>
            <div class="list" id="notif-list">
                <a href="link"><div class="notification">
                    <p class="header">Заголовок уведомления</p>
                    <p class="data">Текст уведомления, также на уведомление можно кликнуть и перейти по ссылке</p>
                </div></a>
                <a href="link"><div class="notification">
                    <p class="header">Заголовок уведомления</p>
                    <p class="data">Текст уведомления, также на уведомление можно кликнуть и перейти по ссылке</p>
                </div></a>
            </div>
        </div>
    </div>
</div>
<img class="notifications" src="/static/icons/notifications.svg" id="notif-button">