.archived-title
    font-weight: 600
    font-size: 18px
    background-color: rgb(254 215 170)

.post-card
    margin-top: 20px
    font-weight: 600
    font-size: 24px
    input
        border: 1px solid
        border-radius: 10px
        padding: 10px
    .title-edit
        width: 100%
    .coast-edit
        width: 160px
        text-align: right
    .currency-edit
        width: 160px
    .title
        padding-inline: 12px
        word-break: break-all
    .user
        margin-top: 20px
        flex-shrink: 0
        position: relative
        .link
            display: flex
            flex-wrap: nowrap
            flex-grow: 0
            flex-shrink: 0
            margin-left: 12px
        .avatar
            height: 80px
            width: 80px
            border-radius: 10px
        .name
            display: grid
            align-content: center
            p
                font-size: 20px
                margin-left: 8px
    .coast
        position: relative
        text-align: right
        margin-right: 8px
        @media (min-width: $small-width)
            font-size: 20px
            margin-top: -28px
        span
            color: rgb(107 114 128)
    
    .editor
        margin-top: 16px
        .editor-body
            border: 1px solid
            border-radius: 10px
            padding: 10px
        .info
            border: 1px solid
            border-radius: 10px
            padding: 10px