{% extends "base/base.html" %}


{% block content %}
<form method="POST" enctype='multipart/form-data'>
    <div class="flex-col flex">
        {{form.hidden_tag()}}

        {{form.id.label}}
        {{form.id(class='border', value=user.id)}}

        {{form.login.label}}
        {{form.login(class='border', value=user.login)}}

        {{form.password.label}}
        {{form.password(class='border')}}

        {{form.name.label}}
        {{form.name(class='border', value=user.name)}}

        {{form.aboutme.label}}
        {{form.aboutme(class='border')}}

        {{form.contact_info.label}}
        {{form.contact_info(class='border', value=user.contact_info)}}

        {{form.account_type.label}}
        {{form.account_type(class='border', value=user.account_type)}}

        {{form.submit(class='border bg-black text-white cursor-pointer mt-3 text-center')}}
        <a class="border bg-red-700 text-white cursor-pointer mt-3 text-center" href="/admin-delete-user/{{user.id}}">Удалить</a>
    </div>
</form>
{% endblock %}