{% extends "base/base.html" %}


{% block content %}
<div class="admin-panel">
  <table class="user-table">
    <thead class="header">
      <tr>
        <th>id</th>
        <th>login</th>
        <th>name</th>
        <th>accaunt_type</th>
      </tr>
    </thead>
    <tbody>
    {% for user in users%}
      <tr class="user-line" onclick="window.location.replace('admin/{{user.id}}')">
        <td>{{user.id}}</td>
        <td>{{user.login}}</td>
        <td>{{user.name}}</td>
        <td>{{user.account_type}}</td>
      </tr>
    
    {% endfor %}
    </tbody>
  </table>
    <a href="admin-create-new-user">
      <p class="add-user">
        +
      </p>
    </a>
</div>

<div class="notifications-actions">
  <a href="/api/test-notification" target='_blank'>test notification</a>
</div>
{% endblock %}
