<nav class="nav-desktop">
    <div class="content">
      <div class="logo">
        <a href="/"> MicroFreelance</a>
        <div class="notifications-container">
          {% include 'base/header_assets/notifications.html' %}
        </div>
      </div>
      <div class="tabs">
          <a class="tab" href="/all-tasks"> Все заявки </a>
          <a class="tab" href="/my-tasks">  Мои заявки </a>
          <div class="dropdown">
            <a class="tab" href="/login">   Мой Аккаунт</a>
            {% if current_user.is_authenticated %}
              <div class="dropdown-content">
                <div class="menu"> 
                  <a href="/archive" class="archive"> Архив</a>
                  {% if current_user.account_type == "admin" %}
                    <a href="/admin" class="admin">   Админка</a>
                  {% endif %}
                  <a href="/logout" class="logout">   Выйти</a>
                </div>
              </div>
            {% endif %}
          </div>
      </div>
  </div>
</nav>


<div class="mobile-logo">
  <a>MicroFreelance</a>
</div>
<nav class="nav-mobile">
  <div class="content">
    <div class="tab vibrate">
      <a  href="/all-tasks">Все заявки </a>
    </div>
    <div class="tab vibrate">
      <a href="/my-tasks">  Мои заявки </a>
    </div>
    <div class="tab vibrate">
      <a href="/login">     Мой Аккаунт</a>
    </div>
  </div>
</nav>
