<header class="p-3 my-3 border mx-auto rounded-4" style="max-width: 1000px; min-width: 400px; max-height: 110px;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <img src="static/base_assets/logo.svg" alt="LANfreelance"  height="32"/>
        <ul class="nav col-12 col-lg-auto me-3 mb-2 justify-content-center mb-md-0 ms-lg-auto mt-1">
          <li class="mb-md-0 me-0 nav-link">
            <span class="rounded-4 p-2 text-body-emphasis ">
              12351
              <i class="bi bi-transparency"></i>
            </span>
          </li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">tasks</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">shop</a></li>
          <div class="dropdown text-end nav-link">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </ul>
      </div>
    </div>
</header>
