{% extends 'base/base.html' %}

{% block content %}

{% for task in tasks %}
<div class="card mb-3 align-middle mx-auto overflow-hidden" style="max-width: 800px; height: 200px;">
    <div class="row g-0">
      <div class="col-md-4" style="width:200px; height: 200px; ">
        <img src="https://github.com/mdo.png" class="img-fluid rounded-start align-middle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ task.name }}</h5>
          <p class="card-text">{{task.description}}</p>
          <p class="card-text position-absolute bottom-0 start-1"><small class="text-body-secondary">{{task.dead_line}}</small></p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}