{% extends "base/base.html" %}


{% block content %}

<div class='card login'>
  <form action="" method="post" novalidate>
    <div class="content">
      <a class="title">Вход в систему</a>
      {{ form.hidden_tag() }}
      <a class="label">{{ form.login.label}}</a>
      {{ form.login(size=32, class="text-input", placeholder='Логин') }}
      <a class="label">{{ form.password.label }}</a>
      {{ form.password(size=32, class="text-input", placeholder='Пароль') }}
      {{ form.submit(class="button") }}
      <a href="/register" class="reg">Нет аккаунта? <span class="click">Зарегистрируйтесь!</span></a>
    </div>
  </form>
</div>


{% endblock %}