{% extends 'base/base.html' %}

{% block content %}
<link href="{{ url_for('static', filename='post_editor/quill.snow.css') }}" rel="stylesheet" />

{% if data.archived %}
<div class="card archived-title">
    Обьявление закрыто {{data.archived_date}}
    {% if data.selected %}, исполнитель выбран
    {% else %}, <u>исполнитель не выбран</u>
    {% endif %}
</div>
{% endif %}

<form method="POST" enctype='multipart/form-data'>
    
    <div class="card post-card">
        {% if edit %}
        {{ form.hidden_tag() }}
            <div class="title"> 
                {{ form.title(placeholder='Введите заголовок', class='title-edit', value=data.title) }} 
            </div>
        {% else %}
        <div class="relative ">
            {% if current_user.is_authenticated and data.author.id == current_user.id and not data.archived and not data.selected %}
            <a class="edit-button" href="/edit-post/{{data.id}}">
                <img src="/static/icons/edit.svg">
            </a>
            {% endif %}
            <div class="title"> 
                {{data.title}}
            </div>
        </div>
        {% endif %}

        <div class="user">
            {% if edit %}
                <a class="link">
            {% else %}
                <a href="/profile/{{data.author.login}}" class="link">
            {% endif %}
                <img class="avatar" src="{{ url_for('static', filename='avatars/'+data.author.login + '.webp') }}">
                <div class="name">
                    <p> {{ data.author.name }} </p>
                </div>
            </a>
        </div>

        <div class="coast">
                
                {% if edit %}
                    <p><span>Оплата:</span> {{ form.coast(class='coast-edit', placeholder='Зарплата', value=data.coast) }}{{ form.currency(value=data.currency, class='currency-edit') }} </p>
                {% else %}
                    <p><span>Оплата:</span> {{ data.coast }} {{ data.currency }} </p>
                {% endif %}
        </div>
        <div class="editor">
            {% if edit %}
                {{ form.data(style="display:none;", id='data') }}
                {{ form.data_text(style="display:none;", id='data_text') }}
                <div class="editor-body" id="editor">
                    {{ data.data|safe }}
                </div>
            {% else %}
                <div class="ql-container ql-snow ql-editor info">{{ data.data|safe }}</div>
            {% endif %}
            {% if edit %}
                <!-- Include the Quill library -->

                <script src="{{ url_for('static', filename='post_editor/quill.js') }}"></script>

                <!-- Initialize Quill editor -->
                <script>
                    const toolbarOptions = [{ header: '2' }, 'bold', 'italic', 'underline', 'strike', { 'list': 'ordered'}, { 'list': 'bullet' }, {'background': 'yellow'}, { 'align': [] }    ];
                    
                    const quill = new Quill('#editor', {
                        theme: 'snow',
                        modules: {
                            toolbar: toolbarOptions
                        }
                });
                </script>

                <div class="edit-actions">
                    <div class="spacer"></div>
                    {% if not data.new_post %}
                        <a 
                            href="/archiving-post/{{data.id}}"
                            class="button button-danger"
                        >
                            Удалить
                        </a>
                    {% endif %}
                    <a 
                        onclick="getElementById('data').value = quill.getSemanticHTML(); getElementById('data_text').value = quill.getText().replaceAll('\n', ' '); getElementById('submit').click();"
                        class="button-action"
                    >
                        Завершить
                    </a>
                    {{ form.submit(id='submit', style="display:none;") }}
                </div>
            {% endif %}
        </div>
    </div>
</form>

{% if data.selected and data.selected_respond_author_id == current_user.id and not data.archived %}

    <a class="w-full p-6 text-center border-4 border-black text-black block mt-2 rounded-xl cursor-pointer" onclick="getElementById('modal-endpost').setAttribute('style', 'display: block')">Завершить задачу</a>
    <div id="modal-endpost" style="display: none;">
        <div class="fixed h-full w-full top-0 left-0 bg-gradient-to-r from-gray-600 to-gray-900 opacity-15 z-20 transition-all"></div>
        <div class="fixed h-full w-full top-0 left-0 backdrop-blur-sm z-30 grid content-center justify-center transition-all">
            <div class="z-40 w-96 rounded-xl p-5 bg-white opacity-100">
                <p class="text-xl font-semibold text-center">Завершить задачу</p>
                <p>Завершая задачу вы соглашаетесь с тем что вы выполнили задачу и получили вознаграждение</p>
                <p class="p-2 whitespace-pre"></p> 
                <div class="flex space-x-3 mt-5">
                    <a  
                        class="rounded-lg px-10 shadow py-2 bg-red-700 text-white font-semibold justify-center cursor-pointer mt-5 flex mx-5 sm:mx-0 w-full transition-all hover:sm:scale-105"
                        onclick="getElementById('modal-endpost').setAttribute('style', 'display: none');"
                    >
                        Нет
                    </a>
                    <a 
                        class="rounded-lg px-10 shadow py-2 bg-black text-white font-semibold justify-center cursor-pointer mt-5 flex mx-5 sm:mx-0 w-full transition-all hover:sm:scale-105"
                        href="/end-post/{{data.id}}"
                    >
                        Да
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endif %}


{% include 'post_assets/responds.html' %}

{% endblock %}