{% extends 'base/base.html' %}

{% block content %}
<form method="POST" enctype='multipart/form-data'>
    {{ form.hidden_tag() }} 
    <div class="profile card">
        <div class="ava-edit">
            {{ form.photo( accept=".png,.jpg,.webp,.gif", style="display:none;", id="avatar_edit", 
            onchange="document.getElementById('avatar').src = window.URL.createObjectURL(this.files[0])")}}
            <img
            src="{{ url_for('static', filename='avatars/'+current_user.login + '.webp') }}"
            id="avatar"
            >
            <a class="button-action" onclick="getElementById('avatar_edit').click();">Изменить</a>
        </div>
        <div class="content">
            <div class="username" >{{ form.name(value=current_user.name, size=0) }}</div>
            {% if current_user.account_type == "student" %}
                <p class="rep">Оценка +209</p>
            {% else %}
                <div class="rep-placeholder"></div>
            {% endif%}
            <div class="aboutme"> {{ form.aboutme(size=0, style="resize: none;", class="scroll") }} </div>
        </div>
    </div>
    <div class="profile-actions card edit">
        {{ form.submit(class="button", tabindex="0") }}
    </div>
</form>
{% endblock %}

