{% extends 'base/base.html' %}

{% block content %}
<div class="card" style="padding-top: 20px; padding-bottom: -20px;">
    <div class="row" style="margin: 0px; padding: 0px;">
        <img
            class="is-center "
            src="{{ url_for('static', filename='avatars/'+user.login + '.webp') }}" 
            style="border-style: dashed; border-radius: 30px; width: 300px; height: 300px; margin-left: auto; margin-right: auto;">
        <div class="col" style="padding-left: 20px;">
            <div class="row">
                <h2>{{ user.name }}</h2>
            </div>    
            <div class="row">
                <p>Оценка +209</p>
            </div>
            <div>
                <blockquote class="" style="margin-left: -10px; margin-right: -10px;margin-bottom: 0px; height: 177px; overflow-y: scroll;">
                    <pre style="margin: 0px; padding: 0px; overflow-x: hidden; word-wrap: anywhere; white-space: pre-wrap;">{{ user.aboutme }}</pre>
                </blockquote>
            </div>
        </div>
    </div>
</div>
{% if owner %}
<div class="card row" style="margin-top: 20px; padding-bottom: 0; margin-left: 0; margin-right: 0; ">
    <h4 class="col-6">Действия с вашем аккаунтом</h4>
    <a class="col-3 button dark outline col" href="/profile-editor" tabindex="0" style="width: 200px">Редактировать</a>
    <a class="col-3 button error outline col" href="/logout" tabindex="0" style="width: 200px">Выйти</a>
</div>
{% endif %}
{% endblock %}