{% extends 'base/base.html' %}

{% block content %}
<div class="profile card">
        <img 
            src="{{ url_for('static', filename='avatars/'+user.login + '.webp') }}"
            onerror="this.src='/static/avatars/placeholder.svg'"
        >
    <div class="content">
        <a class="username">{{ user.name }}</a>
        {% if user.account_type == "student" %}
            <p class="rep">Оценка +209</p>
        {% else %}
            <div class="rep-placeholder"></div>
        {% endif%}
        <div class="aboutme"><div class="scroll">{{ user.aboutme }}</div></div>
    </div>
</div>


{% if owner %}
<div class="profile-actions card">
    <p class="text">Действия с вашем аккаунтом:</p>
    <div class="content">
        <a class="button" href="/profile-editor" tabindex="0">Редактировать</a>
        <a class="button button-danger" href="/logout" tabindex="0">Выйти</a>
        {% if user.account_type in ['admin', 'teacher'] %}
            <a class="button new-line" href="/reg-code" tabindex="0">Код регистрации</a>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}